# Dependencies
node_modules

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# Environment variables
.env*
!.env.example


# Next.js build output
out/

# Vercel
.vercel

# Debug logs
npm-debug.log*

# OS files
.DS_Store
Thumbs.db